@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fafafa;
  color: #151515;
}

.scroll1::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
.scroll1::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

.scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px;
}

.pageSize {
  max-width: 1250px;
  width: 100%;
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

button {
  text-align: start;
}

.tablaContenido div {
  display: flex;
  align-items: center;
}

.title {
  font-size: 28px;
}

.bubble {
  background-image: url(../assets/bubble.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
