@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: #151515;
}

.scroll1::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
}
.scroll1::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

.scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px;
}

.pageSize {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  text-align: start;
}

.tablaContenido div {
  display: flex;
  align-items: center;
  height: 55px;
}

.tablaContenidoMobile div {
  align-items: center;
  height: 55px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
}

.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.texto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
